{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>instance.share_string</title>
</head>
<body>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='{% static "css/base.css" %}' />
	<div class='col-sm-6 col-sm-offset-3'>
		<h1>{{title}}{{track.album}}</h1>
		<h3>{{title}}{{track.song_name}}</h3>
		{% if track.song_image %}
		<img src='{{ track.song_image.url }}' height='200' width='300' class='img-responsive' /><br/>
		{% endif %}
		{% if track.audio_file %}
		<audio controls="controls">
        <source src="{{ track.audio_file.url }}" type="audio/mpeg" /><br/>
        </audio>
		{% endif %}
		
	</div>
</body>
</html>